/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

/* Общие стили */

.page {

  color: var(--color-main);
  font-family: 'Inter', sans-serif;
  background-color: var(--color-background);
  background-image: 
    repeating-linear-gradient(var(--color-net) 0, var(--color-net) 2px, transparent 2px, transparent 4px),
    repeating-linear-gradient(90deg, var(--color-net) 0, var(--color-net) 2px, transparent 2px, transparent 4px),
    linear-gradient( var(--color-gradient-start) 0, var(--color-gradient-end) 100%);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
}

.page,
.main,
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main {
  gap: 50px;
}

.header,
.img-container__tag,
.button,
.footer {
  font-family: 'Press Start 2p', 'Courier New';
}

.header,
.card{
  border: solid 2px var(--color-main);
  background-color: var(--color-background);
}

.header,
.card {
  width: var(--block-width);
}

.card__title {
  font-weight: var(--weight-bold);
}

.card__text {
  font-weight: var(--weight-normal);
}

/* Стили шапки */

.header {
  min-height: 327px;
  margin: 100px 0;
  padding-bottom: 25px;
}

@media (width > 375px) {
  .header {
    min-height: 368px;
  }
}

.header__main-title {
  margin-top: auto;
  margin-bottom: 20px;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

@media (width <= 375px) {
  .header__main-title {
    margin-top: 120px;
  }
}

.header__desc-title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
}

.theme-menu {
  margin-top: 24px;
  margin-left: 20px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: fit-content;
}

.theme-menu__button {
  position: relative;
  border: none;
  font-size: 14px;
  text-transform: uppercase;
  background-color: transparent;
  transition: opacity .3s ease;
  appearance: none;
}

.theme-menu__button[disabled] {
  pointer-events: none;
}
.theme-menu__button:not([disabled]) {
  cursor: pointer;
}

.theme-menu__button:not([disabled]):focus-visible {
  outline: none;
}

.theme-menu__button:not([disabled]):hover,
.theme-menu__button:not([disabled]):focus-visible {
  opacity: 0.5;
}

.theme-menu__button[disabled] {
  opacity: 0.5;
}

.theme-menu__button:not([disabled])::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0%;
  height: 1px;
  border-bottom: 2px solid var(--color-main);
  transition-duration: 0.3s;
  transition-property: opacity, width;
  transition-timing-function: ease;
}

.theme-menu__button:not([disabled]):hover::after,
.theme-menu__button:not([disabled]):focus-visible::after {
  width: 100%;
  opacity: 0.5;
}

.theme-menu__button[disabled]::before {
  content: '▶';
  position: absolute;
  left: -15px;
}

/* Стили карточек */

.card__title,
.card__text {
  font-size: 18px;
}

.card__title {
  display: block;
  padding: 5px 10px;
}

.card__img-container {
  position: relative;
  border-top: 2px solid var(--color-main);
  border-bottom: 2px solid var(--color-main);
  overflow: hidden; 
}

.img-container__tag {
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 1;
  opacity: 50%;
  text-shadow: -2px 0 var(--color-background), 0 2px var(--color-background), 2px 0 var(--color-background), 0 -2px var(--color-background);
  mix-blend-mode: hard-light;
}


@supports((text-stroke: 1px #000) or (-webkit-text-stroke: 1px #000)) {
  .img-container__tag {
    text-shadow: none;
    -webkit-text-stroke: 2px var(--color-background);
    text-stroke: 2px var(--color-background);
    paint-order: stroke fill;
  }
} 

.card__content {
  padding: 25px;
  padding-bottom: 22px;
}

.img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Фильтры для изображений */
.filter_contrast-med {
  filter: contrast(1.2);
}

.filter_saturate-med_hue-30deg {
  filter: saturate(1.5) hue-rotate(-30deg);
}

.filter_contrast-lower {
  filter: contrast(0.8);
}

.filter_brightness-lower_contrast-higher {
  filter: brightness(0.8) contrast(1.2);
}

.filter_sepia-med {
  filter: sepia(.5);
}

.filter_sepia-high_hue-190deg_saturate-very_high {
  filter: sepia(80%) hue-rotate(190deg) saturate(500%);
}

.filter_grayscale-low {
  filter: grayscale(0.5);
}

.card__text {
  line-height: 21px;
}

.card__content .card__text:not(:last-of-type) {
  margin-bottom: 27px;
}

.button {
  display: flex;
  align-items: center;
  border-color: transparent;
  border-radius: 0;
  font-size: 14px;
  background-color: var(--color-background);
}

.card__like-container {
  display: flex;
  align-items: center;
  width: fit-content;
  margin-top: 25px;
  margin-left: auto;
}

.like-icon,
.card__like-button{
  cursor: pointer;
}

.card__icon-button{
  padding-top: 3px;
  padding-right: 4px;
}

.like-icon {
  width: 39px;
}

.like-icon .border {
  fill: var(--color-main);
}

.card__like-button:focus,
.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 3px solid var(--color-main);
  transition: border .3s ease;
}

.card__like-button,
.popup__button,
.footer__button{
  position: relative;
  z-index: 2;
  display: block;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 130px;
  min-height: 38px;
  border: solid 2px var(--color-main);
  box-shadow: 0 0 0 var(--color-main);
  overflow: hidden;
  background-color: transparent;
  transition: color .5s;
}


.card__like-button:focus-visible,
.popup__button:focus-visible,
.footer__button:focus-visible {
  box-shadow: 3px 3px 0 var(--color-main);
  transition: box-shadow .5s;
}

.card__like-button:after,
.popup__button:after,
.footer__button:after {
  content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 110%;
  background-color: var(--color-main);
  transition: transform .5s;
  transform: translateX(-100%);
}

.card__like-button:hover,
.popup__button:hover,
.footer__button:hover {
  color: var(--color-background);
}

.card__like-button:hover:after,
.popup__button:hover:after,
.footer__button:hover:after {
  transform: translateX(0%);
}



/* Стили подвала */

.footer {
  margin-top: 54px;
  margin-bottom: 102px;
    background-color: var(--color-background);
}

.footer__button_svg {
  width: 26px;
  height: 26px;
}

.footer__button.button {
  gap: 8px;
  padding: 15px 20px;
  outline: none;
  cursor: pointer;
}

@media (width <= 375px) {
  .footer__button.button {
    flex-direction: column;
  }
}

@media (width > 375px) {
  .footer {
    margin-top: 50px;

  }

  .footer__button_svg {
    width: 21px;
    height: 21px;
  }
}

/* Стили попапа */

.popup {
  width: 341px;
  height: 191px;
  border: solid 2px var(--color-main);
  padding: 30px;
  color: inherit;
  background-color: var(--color-background);
}

@media (width > 375px) {
  .popup {
    width: 353px;
    padding: 30px;
    padding: 30px 40px;
  }
}

.popup__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.popup__content {
  display: flex;
  justify-content: space-between;
  align-items:center;
  gap: 20px;
}

.popup__content_svg {
  max-width: 40px;
}

.popup__content_svg use{
  width: 100%;
  height: 100%;
}

.popup__content_text {
  font-family: 'Press Start 2p', 'Courier New';
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
}

.popup__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 38px;
  margin-top: auto;
  border: solid 2px var(--color-main);
  outline: none;
  cursor: pointer;
}

.popup::backdrop {
  background-color: rgb(0 0 0 / 0.75);
} 

/* Очень секретный стиль для секретов*/
.secret {
  color: var(--color-background);
}

/* Спасибо за проверку ❤ */